<!-- Tab structure -->
<div class="tabs-wrp tab-style1 side-tab tb-l medium">
	<ul class="tb-list">
		<li class="tb" ui-sref-active="active" ui-sref=".customcss">Custom CSS</li>
		<li class="tb" ui-sref-active="active" ui-sref=".managesections">Manage page sections</li>
		<li class="tb" ui-sref-active="active" ui-sref=".seodata">SEO data</li>
		<li class="tb" ui-sref-active="active" ui-sref=".mailsubscribe">Email subscribe settings</li>
	</ul><!-- /.tb-list -->

	<div class="tb-content">
		<div class="tb-pn"  ui-view></div>
	</div>
</div>